<div data-role="dialog">

    <div data-role="header">
        <h1>événement</h1>
    </div>

    <div data-role="content">
        <fieldset data-role="controlgroup" class="ui-controlgroup ui-controlgroup-vertical ui-corner-all">
            <div role="heading" class="ui-controlgroup-label">
                <legend>Filter</legend>
            </div>
            <div class="ui-controlgroup-controls ">

                <div class="ui-checkbox">
                    <label for="checkbox-1ab" class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-first-child ui-checkbox-off">Concert</label>
                    <input type="checkbox" name="checkbox-1a" id="checkbox-1ab" checked="" data-cacheval="true">
                </div>

                <div class="ui-checkbox">
                    <label for="checkbox-2ab" class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-checkbox-off">Peinture</label>
                    <input type="checkbox" name="checkbox-2a" id="checkbox-2ab" data-cacheval="true">
                </div>

                <div class="ui-checkbox">
                    <label for="checkbox-3ab" class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-checkbox-off">Spectacles</label>
                    <input type="checkbox" name="checkbox-3a" id="checkbox-3ab" data-cacheval="true">
                </div>

                <div class="ui-checkbox">
                    <label for="checkbox-4ab" class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-last-child ui-checkbox-off">Projection</label>
                    <input type="checkbox" name="checkbox-4a" id="checkbox-4ab" data-cacheval="true">
                </div>
                <div class="ui-checkbox">
                    <label for="checkbox-4ab" class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-last-child ui-checkbox-off">Expositions</label>
                    <input type="checkbox" name="checkbox-4a" id="checkbox-4ab" data-cacheval="true">
                </div>
                <div class="ui-checkbox">
                    <label for="checkbox-4ab" class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-last-child ui-checkbox-off">Activités</label>
                    <input type="checkbox" name="checkbox-4a" id="checkbox-4ab" data-cacheval="true">
                </div>
                <div class="ui-checkbox">
                    <label for="checkbox-4ab" class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-last-child ui-checkbox-off">Soirée</label>
                    <input type="checkbox" name="checkbox-4a" id="checkbox-4ab" data-cacheval="true">
                </div>
                <div class="ui-checkbox">
                    <label for="checkbox-4ab" class="ui-btn ui-corner-all ui-btn-inherit ui-btn-icon-left ui-last-child ui-checkbox-off">Festival</label>
                    <input type="checkbox" name="checkbox-4a" id="checkbox-4ab" data-cacheval="true">
                </div>

            </div>
        </fieldset>


    </div>
</div>